<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyCasette</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="assets/css/main.css">
  <script type="text/javascript">
  function showDiv() {
     document.getElementById('load').style.display = "block";
  }
</script>
<style>
  input[name=text], input[name=username] {
    border: 2px solid #0227de; border-radius: 3px; color: black; padding-left: 10px; padding: 16px 32px; text-decoration: none; text-align: center; margin: 4px 2px; cursor: pointer; position: relative;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #0227de; color: white; padding-left: 10px; padding: 16px 32px;
  text-decoration: none; margin: 4px 2px; 
  cursor: pointer; position: relative;
}

.loader {
  position: center; margin: auto; border: 16px solid #f3f3f3; border-top: 16px solid #0227de;
    border-radius: 50%; width: 60px; height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
   #chatbox
{
background-color: black;
margin-left: auto;
margin-right: auto;
width: 40%;
margin-top: 60px;
}
#userInput {
color: black;
margin-left: auto;
margin-right: auto;
width: 40%;
margin-top: 60px;
}
#textInput {
color: black;
width: 87%;
border: none;
border-bottom: 3px solid #009688;
font-family: monospace;
font-size: 17px;
}
#buttonInput {
padding: 3px;
font-family: monospace;
font-size: 17px;
}
.userText {
color: black;
font-family: monospace;
font-size: 17px;
text-align: right;
line-height: 30px;
}
.userText span {
background-color: #009688;
padding: 10px;
border-radius: 2px;
}
.botText {
color: black;
font-family: monospace;
font-size: 17px;
text-align: left;
line-height: 30px;
}
.botText span {
background-color: #0227de;
padding: 10px;
border-radius: 2px;
}
#tidbit {
position:absolute;
bottom:0;
right:0;
width: 300px;
}
  </style>
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <!-- <img src="assets/img/logo.png" alt="Global"> -->
    <p>MyCasette</p>
  </a>
  <p class="device-notification--message">Blah blah</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <!-- <img src="assets/img/logo.png" alt="Global"> -->
            <p>Casette</p>
          </a>
          <button class="header--cta cta">Play</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Playlists</span></li>
            <li><span>Chatbot</span></li>
            <li><span>Explore</span></li>
            <li><span>Genres</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Explore<br>the new<br>octaves</h1>
                <button class="cta">Begin
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
               <!--  <img src="assets/img/introduction-visual.png"> -->
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Playlist for the day</h3>
                  <p>What we think you'll love.</p>
                </a>
                <a href="#0">
                  <h3>Dig up</h3>
                  <p>Those which you missed out.</p>
                </a>
                <a href="#0">
                  <h3>On loop</h3>
                  <p>Based on your favourites.</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Play your favourite</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="https://open.spotify.com/playlist/6ZvY2QnwHFvawuSEa510sb">
                      <div class="slider--item-image">
                        <img src="assets/img/images.jpeg">
                      </div>
                      <p class="slider--item-title">Malayalam Retros</p>
                      <p class="slider--item-description">Re-live the good old days.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="https://open.spotify.com/album/5DtBBC3Xwusv40Swr6Zz4V">
                      <div class="slider--item-image">
                        <img src="assets/img/image2.jpeg">
                      </div>
                      <p class="slider--item-title">RagaFusions</p>
                      <p class="slider--item-description">Where south meets west.</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="https://open.spotify.com/playlist/1jqMYelzSNTN7Ty71wDbPJ">
                      <div class="slider--item-image">
                        <img src="assets/img/image3.jpeg">
                      </div>
                      <p class="slider--item-title">Creative Covers</p>
                      <p class="slider--item-description">Reminiscing chart toppers.</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Talk<br>to our<br>AI Chatbot<br></h2>
                <a href="{{ url_for('home') }}">And get your playlist.
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                  </span>
                  <img src="assets/img/about-visual.png" alt="About Us">
                </a>
                
              </div>
              
            </div>
          </li>
        <!--   <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>Pawia 5, 31-154 Kraków, Poland</p>
                    <a href="mailto:ouremail@gmail.com">ouremail@gmail.com</a>
                    <a href="tel:+148126287560">+48 12 628 75 60</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="#0">Bēhance</a></li>
                    <li><a href="#0">dribbble</a></li>
                    <li><a href="mailto:ouremail@gmail.com">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li> -->
          <li class="l-section section">
            <div class="hire">
             <div class="block1">
<h1>Enjoy your playlist!!</h1>
  <p></p>

</div>

<form>
  <input type="button" value="Play" onclick="window.location.href='https://open.spotify.com/collection/playlists'"/>
</form>
             </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Explore</li>
    <li>Chatbot</li>
    <li>Your Playlist</li>
  </ul>
</div>
<!-- <script>
  function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + "</span></p>";
            $("#chatbox").append(botHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
        $("#textInput").keypress(function(e) {
          if (e.which == 13||e.keyCode==13) {
            getBotResponse();
          }
        });
        $("#buttonInput").click(function() {
              getBotResponse();
          })

</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="assets/js/functions-min.js"></script>
</body>
</html>
